:root {
    --bg-color: #2D2926;
    --fg-color: #BCA6ED;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: 'Fira Code';
    font-size: 16px;
}

a {
    color: var(--fg-color);
}

ul {
    list-style-type: none;
}

ul ul ul {
    list-style-type: circle;
}

header {
    text-align: center;
}

.me {
    margin: 0 auto;
    max-width: 640px;
    padding: 1rem 2rem;
}
